.contact-links {
  color: #dc7a4a;
  font-weight: bold;
  text-shadow: -1px 1px 2px black;
  font-size: 2rem;
  letter-spacing: 0.0375rem;
  text-decoration: none;
}
.footer a:focus {
  color: #dc7a4a;
}
.footer a:hover {
  color: #d73905;
  text-decoration: none;
}
.footer {
  background-color: #0c3429;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 5px;
  height: fit-content;
  border-top: 2px solid #dc7a4a;
  text-align: center;
}
.footer a {
  padding: 10px;
}
