.navbar {
  display: flex;
  justify-content: flex-end !important;
  font-size: 1.5rem;
  background-color: #0c3429 !important;
  border: 2px solid #dc7a4a;
  border-radius: 5px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.505);
  width: 100%;
}
.navbar a {
  display: flex;
  justify-content: flex-end;
  color: #dc7a4a;
  font-size: 2rem;
  text-shadow: 2px 2px 1px black;
}
.navbar a:focus {
  color: #dc7a4a;
  text-shadow: 2px 2px 1px black;
}
.navbar a:hover {
  color: #d73905;
}
.navbar-nav {
  display: flex;
  justify-content: flex-end !important;
}
