.resume-header {
  color: #0c3429;
  text-shadow: -2px 3px 1px#dc7a4a;
  padding: 20px;
  font-size: 5.5rem;
  text-align: center;
}
.resume-download {
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.603);
  text-align: center;
}
.coding-icons {
  color: #0c3429;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: -1px 1px 2px #dc7a4a;
  text-align: center;
}
.icons {
  color: #dc7a4a;
  font-size: 3.5rem;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.603);
  text-align: center;
  list-style-type: none;
  letter-spacing: 1rem;
}
.resume-link {
  color: #dc7a4a;
}
.resume-download a:focus {
  color: #dc7a4a;
}
.resume-download a:hover {
  color: #d73905;
  text-decoration: none;
}
