@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto Condensed" sans-serif;
}
/******* Navbar *******/
.logo {
  width: 11.25rem;
  height: 11.25rem;
}

/*---------- Menu Links ----------*/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
#nav-link-text {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #dc7a4a;
  text-shadow: 1px 1px 0px #d73905;
}
